.modal{
    width: 27rem;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top:20vh;
    left: 5%;
}

@media (min-width:768px) {
    .modal{
        width:  27rem;
        left:calc((100% - 27rem) / 2);
    }
}

.modal_header{
    padding: 1rem;
    color: black;
    background: #01d1d1;
}

.modal_header h3{   
    margin: 0;
    font-size: 1.25rem;
}
.modal_content{
    padding: 1rem;
}
.modal_actions{
    display: flex;
    justify-content: center;    
    padding: 1rem;
}